.login__container{
    display: flex;
    min-height:60vh;
}
.login__heading{
    margin: 1rem 0;
}
.hyyy{
    width: 50%;    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.form{
    width: 90%;
    min-height: 50vh;
    box-shadow: 3px 3px 3px 3px var(--text-black);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.login__input{
  width: 60%;
  background: var(--color-primary);
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
}
.login__submit{
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
}
.login__img_article{
   width: 50%;
   position: relative;
}
.login__img_article img{
    width: 70%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}
@media screen and (max-width:768px) {
    .login__img_article{
        display: none;
    }
    .login__container{
        align-items: center;
        justify-content: center;
        background-size: cover;
        background-position: center;
        background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),url('../image/removed.png');
    }   
    .form{
        width: 100%;
    }
    .hyyy{
        width: 70%;
    }
    
}