.movie__container{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap: 0.5rem;
    flex-wrap: wrap;
    padding: 0;
}
.movie__heading{
    margin: 2rem 0;
}
.movie__item{
    border-radius: 0.5rem;
    width: 24%;
    aspect-ratio: 1/1;
    cursor: pointer;
    box-shadow: 3px 3px 3px 3px var(--text-black);
}
/* .movie__item:hover{
    transform:
} */
.movies__image{
    border-radius: .5rem .5rem 0 0;
    height: 100%;
}
.movies__text_container{
    padding: 1rem;
}
.movies__title{
    color: var(--color-primary);
    text-align: left;
    font-size: 1.5em;
    padding: 0.5rem 0;
    height: 60px;
    overflow:hidden;
}
.search__form{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}
.searchandicon__container{
    width: 30%;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    background-color: var(--color-primary);
}
.search__btn{
    background-color: transparent;
    outline: none;
    border: none;
}
.search__form input{
    height: 2rem;
    width: 90%;
    margin-right: 0.5rem;
    color: var(--text-black);
    background-color: var(--color-primary);
    outline: none;
    border: none;
    border-radius: 1rem;
    padding: 0 2rem;
    font-size: 1rem;
    font-weight: 600;
}
.movie__search_icon{
    font-size: 2rem;
    text-align: center;

}

/* Loading before getting data from the api */
.loading__center{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 80vh;
}
.ring{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: ring 2s linear infinite;
}
@keyframes ring{
    0%{
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #e65c00;
    }
    50% {
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #18b201;
        }
    100% {
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #0456c8; 
        }
}
.ring::before{
    position: absolute;
    content: '';
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255,255,255,.3);
}
.loading{
    color: #737373;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing:1px;
    line-height: 200px;
    animation: text 3s ease-in-out  infinite;
}
@keyframes text{
    0%{
        color:black;
    }
}

@media screen and (max-width:1024px) {
    .movie__item{
        width:30%;
    }
    .searchandicon__container{
        width: 55%;
    }
}
@media screen and (max-width:600px) {
    .movie__container{
        justify-content: center;
    }
    .movie__item {
        width: 40%;
    }
    .searchandicon__container{
        width: 65%;
    }
}
@media screen and (max-width:301px) {
    .movie__container {
        justify-content: center;
    }

    .movie__item {
        width: 70%;
    }
}